@model WebApp.Models.RequestModel.UserLoginRequest
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/web/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
<section class="sign-in">
            <div class="container1">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/web/login/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="@Url.Action("Signup","User")" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                @Html.TextBoxFor(m => m.UserName,new { @placeholder = "User Name", @required="true" })

                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                @Html.PasswordFor(m => m.Password,new { @placeholder = "Password",@required="true" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m=>m.RememberMe,new{@class="agree-term"})
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                             <div>

                                 @if(ViewData["error"] is not null)
                            {
                                <span style="color:red">@ViewData["error"].ToString()</span>
                            }
                            </div>
                           
                            <div class="form-group form-button">
                           
                           
                            <input type="submit" name="signin" id="signin" class="form-submit" href="@Url.Action("LoggedIn_Layout","Shared")" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</section>
</div>
<!-- Font Icon -->
    <link rel="stylesheet" href="~/web/login/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/web/login/css/style.css">
    <!-- JS -->
    <script src="~/web/login/vendor/jquery/jquery.min.js"></script>
    <script src="~/web/login/js/main.js"></script>